@model GISModel.Entidades.Estabelecimento

<div id="formCadGarantia">
    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                <label class="form-field-select-3 col-xs-12 col-sm-6 no-padding-right">Localize um departamento já cadastrado</label>
                <div class="col-xs-12 col-sm-12">
                    <input type="text" name="Estabelecimentos" style="width: 100%;" id="Estabelecimentos" value="" placeholder="Nome do Estabelecimento" />
                </div>
            </div>
        </div>
    </div>


    <div class="hr hr-double hr-dotted hr18"></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 center">
            Ou preencha o formulário de cadastro abaixo!
        </div>
    </div>
    <div class="hr hr-double hr-dotted hr18"></div>


    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(d => d.Nome, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.Nome, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtEstabNome" } })
                    @Html.ValidationMessageFor(d => d.Nome, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(d => d.Descricao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.TextAreaFor(d => d.Descricao, new { style = "min-width: 100%; max-width: 100%; resize: none;", rows = "3", id = "txtEstabDescricao" })
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-12">
            <div class="form-group">
                @Html.LabelFor(d => d.Endereco, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                <div class="col-xs-12 col-sm-12">
                    @Html.EditorFor(d => d.Endereco, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtEstabEndereco" } })
                </div>
            </div>
        </div>
    </div>

    <div class="hr hr-double hr-dotted hr18"></div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="form-field-select-3 col-xs-12 col-sm-6 no-padding-right">
                    Data Início
                </label>
                <div class="col-xs-12 col-sm-12">
                    <input type="text" class="col-xs-12 col-sm-12 date-picker" id="DataInicio" value="" />
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="form-group">
                <label class="form-field-select-3 col-xs-12 col-sm-6 no-padding-right">
                    Data Término
                </label>
                <div class="col-xs-12 col-sm-12">
                    <input type="text" class="col-xs-12 col-sm-12 date-picker" id="DataTermino" value="" />
                </div>
            </div>
        </div>
    </div>
</div>

