@using GISModel.Entidades

<body class='default'>
    <div id='jqxWidget'>
        <div style='float: left;'>
            <div id='jqxTree' style='visibility: hidden; float: left; margin-left: 20px; border: 0px'>
                <ul>
                    @foreach (Departamento iDepartamento in ViewBag.Departamento)
                    {
                        <li style="border: 0px;" id="@iDepartamento.ID">
                            @iDepartamento.Codigo - @iDepartamento.Sigla
                            <ul>
                                @foreach (Departamento iSubDepartamento in iDepartamento.SubDepartamento)
                                {
                                    <li style="border: 0px;" id="@iSubDepartamento.ID">
                                        @iSubDepartamento.Codigo - @iSubDepartamento.Sigla
                                        <ul>
                                            @foreach (Departamento iSubSubDepartamento in iSubDepartamento.SubDepartamento)
                                            {
                                                <li style="border: 0px;" id="@iSubSubDepartamento.ID">
                                                    @iSubSubDepartamento.Codigo - @iSubSubDepartamento.Sigla
                                                </li>
                                            }
                                        </ul>
                                    </li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>

<link rel="stylesheet" href="~/Content/jQwidgets/jqx.base.css" type="text/css" />
<script src="~/Scripts/jQwidgets/jqxcore.js"></script>
<script src="~/Scripts/jQwidgets/jqxbuttons.js"></script>
<script src="~/Scripts/jQwidgets/jqxscrollbar.js"></script>
<script src="~/Scripts/jQwidgets/jqxpanel.js"></script>
<script src="~/Scripts/jQwidgets/jqxtree.js"></script>
<script src="~/Scripts/jQwidgets/jqxcheckbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $('#jqxTree').jqxTree({ height: '400px', width: '550px', hasThreeStates: true, checkboxes: true });
        $('#jqxTree').css('visibility', 'visible');
        $('#jqxCheckBox').on('change', function (event) {
            var checked = event.args.checked;
            $('#jqxTree').jqxTree({ hasThreeStates: checked });
        });
        $("#jqxTree").jqxTree('selectItem', $("#home")[0]);

    });

    function submitMe() {
        debugger;
        var items = $("#jqxTree").jqxTree('getItems');
        // save all checked items in checkedItems array.
        var checkedItems = new Array();
        $.each(items, function () {
            if (this.checked) {
                checkedItems[checkedItems.length] = this.label;
            }
        });

        for (var i = 0; i < checkedItems.length; i++) {
            // Iterate over numeric indexes from 0 to 5, as everyone expects.
            alert(checkedItems[i]);
        }
    }
</script>