@model GISModel.Entidades.Empregado

@{
    ViewBag.Title = "Detalhes do Empregado";
}

<div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <h3 class="header smaller lighter blue">
        @Model.Nome [<span style="font-size:16px"> @Model.CPF </span>]
    </h3>

    <div class="user-profile">
        <div class="tabbable">
            <ul class="nav nav-tabs padding-18">
                <li class="active">
                    <a data-toggle="tab" href="#empregado" aria-expanded="true">
                        <i class="green ace-icon fa fa-user bigger-120"></i>
                        Apresentação do Empregado
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#admissao" aria-expanded="false">
                        <i class="orange ace-icon fa fa-legal bigger-120"></i>
                        Admissão e Alocações Atuais
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#documentos" aria-expanded="false">
                        <i class="blue ace-icon fa fa-file-text-o bigger-120"></i>
                        Documentos
                    </a>
                </li>

                <li class="">
                    <a data-toggle="tab" href="#historico" aria-expanded="false">
                        <i class="pink ace-icon fa fa-history bigger-120"></i>
                        Histórico de Alocações
                    </a>
                </li>
            </ul>

            <div class="tab-content no-border padding-24">
                <div id="empregado" class="tab-pane active">
                    <div class="row">
                        <div class="col-xs-12 col-sm-3 center">
                            <span class="profile-picture">
                                <img class="editable img-responsive" alt="Alex's Avatar" id="avatar2" src="~/Images/profile-pic.jpg">
                            </span>

                            <div class="space space-4"></div>
                            @if (string.IsNullOrEmpty(ViewBag.PossuiAdmissao))
                            {
                                <a href="#" id="btnAdmitir" class="btn btn-sm btn-block btn-success">
                                    <i class="ace-icon fa fa-legal bigger-110"></i>
                                    <span class="bigger-110">Admitir</span>
                                </a>
                            }
                            else
                            {
                                <a href="#" class="btn btn-sm btn-block btn-info">
                                    <i class="ace-icon fa fa-plus-circle bigger-120"></i>
                                    <span class="bigger-110">Alocar</span>
                                </a>

                                <a href="#" id="btnDemitir" class="btn btn-sm btn-block btn-danger">
                                    <i class="ace-icon fa fa-legal bigger-110"></i>
                                    <span class="bigger-110">Demitir</span>
                                </a>
                            }
                        </div><!-- /.col -->

                        <div class="col-xs-12 col-sm-9">
                            <div class="profile-user-info">
                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Nome </div>
                                    <div id="IDEmpregado" hidden> @Model.IDEmpregado</div>
                                    <div class="profile-info-value">
                                        <span>@Model.Nome</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> CPF </div>

                                    <div class="profile-info-value">
                                        <span>@Model.CPF</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Data de Nascimento </div>

                                    <div class="profile-info-value">
                                        <span>@Model.DataNascimento</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Telefone </div>

                                    <div class="profile-info-value">
                                        <span>@Model.Telefone</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Empregado </div>

                                    <div class="profile-info-value" id="txtTipoEmpregado">
                                        <span>@Model.TipoEmpregado</span>
                                    </div>
                                </div>

                                <div class="profile-info-row">
                                    <div class="profile-info-name"> Cadastrado em </div>

                                    <div class="profile-info-value">
                                        <span>@Model.DataInclusao</span>
                                    </div>
                                </div>
                            </div>

                            <div class="hr hr16 dotted"></div>

                            <div class="center">

                                <span class="btn btn-app btn-lg btn-danger no-hover">
                                    <i class="ace-icon fa fa-thumbs-o-down bigger-200"></i>
                                </span>

                                <span class="btn btn-app btn-lg btn-success no-hover">
                                    <i class="ace-icon fa fa-thumbs-o-up bigger-200"></i>
                                </span>
                            </div>
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>

                <div id="admissao" class="tab-pane">
                    <div class="alert alert-warning">
                        <strong>
                            <i class="ace-icon fa fa-meh-o"></i>
                            Oops!
                        </strong>

                        No momento, este empregado não está admitido em nenhuma empresa.
                        <br>
                    </div>
                </div>

                <div id="documentos" class="tab-pane">
                    <div class="alert alert-warning">
                        <strong>
                            <i class="ace-icon fa fa-meh-o"></i>
                            Oops!
                        </strong>

                        No momento, este empregado não possui nenhum documento.
                        <br>
                    </div>
                </div>

                <div id="historico" class="tab-pane">
                    <div class="alert alert-warning">
                        <strong>
                            <i class="ace-icon fa fa-meh-o"></i>
                            Oops!
                        </strong>

                        No momento, este empregado não possui histórico.
                        <br>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PAGE CONTENT ENDS -->
</div>

<div id="modalAdmissao" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modalAdmissaoX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter grey no-margin"><i class="ace-icon fa fa-legal green"></i> Processo de admissão...</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="modalAdmissaoCorpo" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <span id="modalAdmissaoLoading" style="display: none; float: left; padding-top: 6px">
                            <i style="display: none; float: left; margin-top: 5px;" class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i>
                        </span>

                        <button id="modalAdmissaoFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Cancelar
                        </button>

                        <button id="modalAdmissaoProsseguir" class="btn btn-sm btn-info" style="right: 5px; left: auto">
                            <i class="ace-icon fa fa-check"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <script src="~/Scripts/Custom/Empregado/Detalhes.js"></script>
}