@model GISModel.Entidades.Empregado

@{
    ViewBag.Title = "Edição de Empregado";
}

<div id="formEditEmpregado">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Edição de Empregado
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Atualizar", "Empregado", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginAtualizarEmpregado", OnSuccess = "OnSuccessAtualizarEmpregado", }, new { @id = "formEdicaoEmpregado", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.CPF, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.CPF, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtCPF", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(d => d.CPF, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        @Html.HiddenFor(d => d.IDEmpregado)
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.Nome, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.Nome, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                        @Html.ValidationMessageFor(d => d.Nome, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.Email, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-at bigger-110"></i>
                            </span>
                            @Html.EditorFor(d => d.Email, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                            @Html.ValidationMessageFor(d => d.Email, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.DataNascimento, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                            @Html.EditorFor(d => d.DataNascimento, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12 date-picker-mes-e-ano", @id = "txtDataNascimento" } })
                            @Html.ValidationMessageFor(d => d.DataNascimento, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                        </div>                       
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.Telefone, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-phone bigger-110"></i>
                            </span>

                            @Html.EditorFor(d => d.Telefone, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtTelefone" } })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    @Html.LabelFor(d => d.Endereco, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.Endereco, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
                &nbsp;
                <a class="btn" href="javascript:history.back()">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    }

</div> <!-- Fim Form -->
@section Scripts {
    <script src="~/Scripts/Ace/jQ/jquery.inputmask.js"></script>
    <script src="~/Scripts/Custom/Empregado/Edicao.js"></script>
}