@using GISModel.Entidades

@{
    ViewBag.Title = "Listagem de Empregados";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Empregados
            <a href="@Url.Action("Novo", "Empregado")" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Novo Empregado
            </a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }

        @if (ViewBag.Empregados != null)
        {
            <div>
                <table id="dynamic-table" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>CPF</th>
                            <th>Nome</th>
                            <th>E-mail</th>
                            <th>Data Nasc.</th>
                            <th>Telefone</th>
                            <th width="89px"></th>
                        </tr>
                    </thead>

                    <tbody>

                        @foreach (Empregado iEmpregado in ViewBag.Empregados)
                        {
                            <tr id="linha-@iEmpregado.IDEmpregado">
                                <td>@iEmpregado.CPF</td>
                                <td>@iEmpregado.Nome</td>
                                <td>@iEmpregado.Email</td>
                                <td>@iEmpregado.DataNascimento</td>
                                <td>@iEmpregado.Telefone</td>
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">
                                        <a href='@Url.Action("Edicao", "Empregado", new { id = @iEmpregado.IDEmpregado })' class="green">
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>

                                        <a class="red" href="#" onclick="DeletarEmpregado('@iEmpregado.IDEmpregado', '@iEmpregado.Nome');">
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>

                                    <div class="hidden-md hidden-lg">
                                        <div class="inline pos-rel">
                                            <button class="btn btn-minier btn-yellow dropdown-toggle" data-toggle="dropdown" data-position="auto">
                                                <i class="ace-icon fa fa-caret-down icon-only bigger-120"></i>
                                            </button>

                                            <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                <li>
                                                    <a href='@Url.Action("Edicao", "Empregado", new { id = @iEmpregado.IDEmpregado })' class="tooltip-success" data-rel="tooltip" title="Edit">
                                                        <span class="green">
                                                            <i class="ace-icon fa fa-pencil-square-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="tooltip-error" onclick="DeletarEmpregado('@iEmpregado.IDEmpregado', '@iEmpregado.Nome');" data-rel="tooltip" title="Delete">
                                                        <span class="red">
                                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                        </span>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
            </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jQ_dataTable")
    <script src="~/Scripts/Custom/Empregado/Listagem.js"></script>
}
