@* ###########################################
    Quatro botões no menu lateral à esquerda.*@
<div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
        <button class="CustomTooltip btn btn-danger btnModuloEstatistico" title="Módulo Estatístico" data-link-estatistico="@System.Configuration.ConfigurationManager.AppSettings["Web:ModuloEstatistico"]">
            <i class="ace-icon fa fa-bar-chart bigger-115"></i>
        </button>
        <button class="CustomTooltip btn btn-grey" @*data-url="@Url.Action("ACTION", "CONTROLLER")"*@>
            <i class="ace-icon fa fa-ban bigger-115"></i>
        </button>
        <button class="CustomTooltip btn btn-grey">
            <i class="ace-icon fa fa-ban bigger-115"></i>
        </button>
        <button class="CustomTooltip btn btn-grey">
            <i class="ace-icon fa fa-ban bigger-115"></i>
        </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>
        <span class="btn btn-info"></span>
        <span class="btn btn-warning"></span>
        <span class="btn btn-danger"></span>
    </div>
</div>

<ul id="ulMenuLateral" class="nav nav-list" data-menuativo="@ViewBag.MenuAtivo">
    <li id="menuLateralPortal">
        <a href="#" class="EmConstrucao">
            <i class="menu-icon fa fa-home"></i>
            <span class="menu-text" style="font-weight: bold;">
                Portal GEDOC 2.0
            </span>
        </a>

        <b class="arrow"></b>
    </li>
    <li id="menuLateralPesquisa">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-search-plus"></i>
            <span class="menu-text" style="font-weight: bold;">
                Pesquisa
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li id="menuLateralPesquisaRapida">
                <a href="@Url.Action("Rapida", "Query")">
                    <i class="menu-icon fa fa-bolt"></i>
                    Rápida
                </a>
                <b class="arrow"></b>
            </li>
            <li id="menuLateralPesquisaAvancada">
                <a href="#" class="dropdown-toggle">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Avançada
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">

                    <li id="liTeste">
                        <a href="#">
                            Usuário
                        </a>
                        <b class="arrow"></b>
                    </li>
                    
                </ul>
            </li>
        </ul>
    </li>

    @*@if (ViewBag.IsAdministrador)
    {*@
        <li id="menuLateralAdministracao">
            <a href="@Url.Action("Index", "Admin")">
                <i class="menu-icon fa fa-gears"></i>
                <span class="menu-text" style="font-weight: bold;">
                    Administração
                </span>
                <b class="arrow"></b>
            </a>
        </li>
    @*}*@

    <li id="menuLateralMeusPedidos">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-shopping-cart"></i>
            <span class="menu-text" style="font-weight: bold;">
                Meus Pedidos
            </span>
            <b class="arrow fa fa-angle-down"></b>
        </a>
        <b class="arrow"></b>
        <ul class="submenu">
            <li id="subMenuPedidosEmprestimo">
                <a href="@Url.Action("Index", "MeusPedidos", new { tipo = "emprestimo" })">
                    <i class="menu-icon fa fa-bolt"></i>
                    Pedidos de Empréstimo
                </a>
                <b class="arrow"></b>
            </li>
            <li id="subMenuPedidosCopia">
                <a href="@Url.Action("Index", "MeusPedidos", new { tipo = "copia" })">
                    <i class="menu-icon fa fa-bolt"></i>
                    Pedidos de Cópia
                </a>
                <b class="arrow"></b>
            </li>
        </ul>
    </li>

</ul>

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>