
<ul id="ulMenuLateral" class="nav nav-list" data-menuativo="@ViewBag.MenuAtivo">

    @if (ViewBag.MenusUsuario != null && ViewBag.MenusUsuario is List<GISModel.Entidades.Menu>)
    {
        List<GISModel.Entidades.Menu> ListaMenus = (List<GISModel.Entidades.Menu>)ViewBag.MenusUsuario;
        foreach (GISModel.Entidades.Menu iMenuRaiz in ListaMenus.Where(p => p.MenuSuperior == null).OrderBy(p => double.Parse(p.Ordem)))
        {
            string sIDMenu = "ml" + GISHelpers.Utils.Severino.RemoveAcentos(iMenuRaiz.Nome).Replace(" ", "_");
        
            <li id='@sIDMenu'>
                <a href="#" class="dropdown-toggle">
                    @if (!string.IsNullOrEmpty(iMenuRaiz.Icone))
                    {
                        <i class="menu-icon fa @iMenuRaiz.Icone"></i>
                    }
                    else
                    {
                        <i class="menu-icon fa fa-caret-right"></i>
                    }

                    <span class="menu-text" style="font-weight: bold;">
                        @iMenuRaiz.Nome
                    </span>
                    <b class="arrow fa fa-angle-down"></b>
                </a>
                <b class="arrow"></b>
                <ul class="submenu">

                    @foreach (GISModel.Entidades.Menu iMenu in ListaMenus.Where(p => p.MenuSuperior != null && p.MenuSuperior.UniqueKey.Equals(iMenuRaiz.UniqueKey)).OrderBy(p => p.Ordem))
                    {
                        sIDMenu = "ml" + GISHelpers.Utils.Severino.RemoveAcentos(iMenuRaiz.Nome).Replace(" ", "_") + GISHelpers.Utils.Severino.RemoveAcentos(iMenu.Nome).Replace(" ", "_");
                    
                        <li id="@sIDMenu">
                            @{
                        List<GISModel.Entidades.Menu> ListaSubMenus = ListaMenus.Where(p => p.MenuSuperior != null && p.MenuSuperior.UniqueKey.Equals(iMenu.UniqueKey)).ToList();
                                if (ListaSubMenus.Count > 0)
                                {
                                    <a href="#" class="dropdown-toggle">
                                        @if (!string.IsNullOrEmpty(iMenu.Icone))
                                        {
                                            <i class="menu-icon fa @iMenu.Icone"></i>
                                        }
                                        else { 
                                            <i class="menu-icon fa fa-caret-right"></i>
                                        }

                                        @iMenu.Nome
                                        <b class="arrow fa fa-angle-down"></b>
                                    </a>
                                    <b class="arrow"></b>
                                    <ul class="submenu">
                                        @foreach (GISModel.Entidades.Menu iSubMenu in ListaSubMenus.OrderBy(p => p.Ordem))
                                        {
                                            sIDMenu = "ml" + GISHelpers.Utils.Severino.RemoveAcentos(iMenuRaiz.Nome).Replace(" ", "_") + GISHelpers.Utils.Severino.RemoveAcentos(iMenu.Nome).Replace(" ", "_") + GISHelpers.Utils.Severino.RemoveAcentos(iSubMenu.Nome).Replace(" ", "_");
                                            <li id="@sIDMenu">
                                                <a href="@Url.Action(@iSubMenu.Action, @iSubMenu.Controller)">
                                                    @if (!string.IsNullOrEmpty(iSubMenu.Icone))
                                                    {
                                                        <i class="menu-icon fa @iSubMenu.Icone"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="menu-icon fa fa-caret-right"></i>
                                                    }

                                                    @iSubMenu.Nome
                                                </a>
                                                <b class="arrow"></b>
                                            </li>
                                        }
                                    </ul>
                                }
                                else
                                {
                                    <a href="@Url.Action(@iMenu.Action, @iMenu.Controller)">
                                        @if (!string.IsNullOrEmpty(iMenu.Icone))
                                        {
                                            <i class="menu-icon fa @iMenu.Icone"></i>
                                        }
                                        else
                                        {
                                            <i class="menu-icon fa fa-caret-right"></i>
                                        }

                                        @iMenu.Nome
                                    </a>
                                    <b class="arrow"></b>
                                }
                            }

                        </li>
                    }

                </ul>
            </li>
                                
        }
    }
</ul>

<div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
    <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
</div>