@model GISModel.DTO.Contrato.CadastroViewModel


@{
    ViewBag.Title = "Cadastro de Contrato";
}

<div id="formCadContrato">
    <div class="row">
        <div class="col-xs-12 col-sm-12 widget-container-col ui-sortable">
            <div class="page-header">
                <h1>
                    Cadastro de Contrato
                </h1>
            </div>
        </div>
    </div>

    @using (Ajax.BeginForm("Cadastrar", "Contrato", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginCadastrarContrato", OnSuccess = "OnSuccessCadastrarContrato", }, new { @id = "formCadastroContrato", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.Numero, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.Numero, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12", @id = "txtCNPJ" } })
                        @Html.ValidationMessageFor(d => d.Numero, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.Inicio, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">

                        <div class="input-group">
                            @Html.EditorFor(d => d.Inicio, new { htmlAttributes = new { @class = "form-control date-picker", @data_placeholder = "Data Início" } })

                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>
                        @Html.ValidationMessageFor(d => d.Inicio, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4">
                <div class="form-group">
                    @Html.LabelFor(d => d.Fim, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">

                        <div class="input-group">
                            @Html.EditorFor(d => d.Fim, new { htmlAttributes = new { @class = "form-control date-picker", @data_placeholder = "Data Fim" } })

                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                        </div>

                        @Html.ValidationMessageFor(d => d.Fim, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="form-group">
                    @Html.LabelFor(d => d.Descricao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    <div class="col-xs-12 col-sm-12">
                        @Html.EditorFor(d => d.Descricao, new { htmlAttributes = new { @class = "col-xs-12 col-sm-12" } })
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12">
                        @Html.LabelFor(d => d.IDFornecedor, new { @class = "form-field-select-3  no-padding-right", @id = "lblFornecedor" })

                        <span class="action-buttons">
                            &nbsp;
                            <a>
                                <i class="ace-icon fa fa-exclamation-triangle bigger-120 orange CustomTooltip" title="Utilize o recurso de 'autocomplete' do campo abaixo para selecionar corretamente o fornecedor."></i>
                            </a>
                        </span>
                    </div>
                    

                    <div class="col-xs-12 col-sm-12">
                        <input type="text" name="IDFornecedor" style="width: 100%;" class="typeahead scrollable" id="IDFornecedor" value="" placeholder="Código ou Nome do Fornecedor" />
                        @Html.ValidationMessageFor(d => d.IDFornecedor, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12">
                        @Html.LabelFor(d => d.Departamentos, new { @class = "form-field-select-3 no-padding-right", @id = "lblDepartamentos" })

                        <span class="action-buttons">
                            &nbsp;
                            <a>
                                <i class="ace-icon fa fa-exclamation-triangle bigger-120 orange CustomTooltip" title="Utilize o recurso de 'autocomplete' do campo abaixo para selecionar corretamente os departamentos."></i>
                            </a>
                        </span>
                    </div>
                    
                    <div class="col-xs-12 col-sm-12">
                        <input type="text" name="Departamentos" style="width: 100%;" id="Departamentos" value="" placeholder="Código ou Nome do Departamento" />
                        @Html.ValidationMessageFor(d => d.Departamentos, string.Empty, new { @style = "font-size: 10px; color: #a94442;" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <h3 class="header smaller lighter blue">
                    Garantias
                    <a href="#" onclick="alert('asdf');" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                        <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                        Nova Garantia
                    </a>
                </h3>
            </div>
        </div>
        
        <div class="row">
            <div class="col-xs-12 col-sm-12">
                <div class="alert alert-warning">
                    <strong>
                        <i class="ace-icon fa fa-meh-o"></i>
                        Oops!
                    </strong>

                        Ainda não foi adicionada nenhuma garantia.
                    <br>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 align-center">
                <button class="btn btn-info" id="btnSalvar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar
                </button>
                &nbsp;
                <button class="btn btn-info" id="btnSalvar" type="submit">
                    <i class="ace-icon fa fa-check bigger-110"></i>
                    Salvar e Fechar
                </button>
                &nbsp;
                <button class="btn btn-warning" type="reset">
                    <i class="ace-icon fa fa-undo bigger-110"></i>
                    Limpar
                </button>
                &nbsp;
                <a class="btn" href="javascript:history.back()">
                    <i class="ace-icon fa fa-arrow-left"></i>
                    Voltar
                </a>
            </div>
        </div>
    }

</div> <!-- Fim FormQuery -->

@section Scripts {
    <script src="~/Scripts/Ace/jQ/typeahead.jquery.js"></script>

    <script src="~/Scripts/Ace/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Ace/bootstrap-tag.js"></script>
    <script src="~/Scripts/Ace/elements.typeahead.js"></script>
    <script src="~/Scripts/Custom/Contrato/Novo.js"></script>
}
