@model GISModel.Entidades.Admissao

@{
    ViewBag.Title = "Cadastrar Admissao";
}

<div>
    @using (Ajax.BeginForm("Cadastrar", "Admissao", null, new AjaxOptions { HttpMethod = "POST", OnBegin = "OnBeginCadastrarAdmissao", OnSuccess = "OnSuccessCadastrarAdmissao", }, new { @id = "formCadastroAdmissao", @class = "form-horizontal" }))
    {
        @Html.AntiForgeryToken()

        <div class="row">
            <div>
                <div class="form-group">
                    <div class="col-sm-3">
                        @Html.LabelFor(d => d.DataAdmissao, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                    </div>
                    <div class="col-sm-9">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-calendar bigger-110"></i>
                            </span>
                            @Html.HiddenFor(d => d.IDEmpregado)
                            @Html.EditorFor(d => d.DataAdmissao, new { htmlAttributes = new { @class = "col-xs-9 col-sm-9  date-picker-mes-e-ano" } })
                        </div>

                    </div>
                </div>
            </div>
        </div>

        if (ViewBag.TipoEmpregado == "Próprio")
        {
            <div class="row">
                <div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(d => d.IDEmpresa, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.DropDownListFor(d => d.IDEmpresa, (SelectList)ViewBag.Empresas, "Selecione uma Empresa...", new { @class = "chosen-select form-control tag-input-style", @id = "ddlEmpresa", @autocomplete = "on" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(d => d.IDDepartamento, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.DropDownListFor(d => d.IDDepartamento, (SelectList)ViewBag.Departamentos, "Selecione antes uma Empresa...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on", @id = "ddlDepartamento" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="row">
                <div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            @Html.LabelFor(d => d.IDFornecedor, new { @class = "form-field-select-3 col-xs-12 col-sm-6 no-padding-right" })
                        </div>
                        <div class="col-sm-9">
                            <div class="input-group">
                                @Html.DropDownListFor(d => d.IDFornecedor, (SelectList)ViewBag.Fornecedores, "Selecione um Fornecedor...", new { @class = "chosen-select form-control tag-input-style", @autocomplete = "on", @id = "ddlFornecedor" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }


