@using GISModel.Entidades

@{
    ViewBag.Title = "Listagem de Tipos";
}

<div class="row">
    <div class="col-xs-12">
        <h3 class="header smaller lighter blue">
            Tipos de documento
            <a href="#" onclick="btnNovaCategoria(); return false;" class="btn btn-white btn-info btn-bold" style="float: right; margin-top: -2px;">
                <i class="ace-icon fa fa-plus bigger-120 blue"></i>
                Categoria
            </a>
        </h3>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">

        @{
            Html.RenderPartial("_MensagensDeRetorno");
        }
        @if (ViewBag.Categorias != null && ViewBag.Categorias.Count > 0)
        {
            <div class="dd dd-draghandle" style="max-width:100%">
                <ol class="dd-list">
                    @foreach (CategoriaDeDocumento iCategorias in ViewBag.Categorias)
                    {
                        <li class="dd-item">
                            <div class="dd2-content" style="border-left-color: #e8b110;">
                                @iCategorias.Nome
                                <span class="badge badge-grey">@iCategorias.Tipos.Count()</span>
                                <div class="pull-right action-buttons">
                                    <a class="blue" href="#" onclick="CadastrarTipo('@iCategorias.UniqueKey')">
                                        <i class="ace-icon fa fa-plus-circle green bigger-125"></i>
                                    </a>
                                    <a class="blue" href="#" onclick="AlterarCategoria('@iCategorias.UniqueKey', '@iCategorias.Nome')">
                                        <i class="ace-icon fa fa-edit bigger-125"></i>
                                    </a>
                                    @if (iCategorias.Tipos.Count == 0)
                                    {
                                        <a class="blue" href="#" onclick="DeletarCategoria('@iCategorias.ID', '@iCategorias.Nome')">
                                            <i class="ace-icon fa fa-trash red bigger-125"></i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="light-grey" href="#">
                                            <i class="ace-icon fa fa-trash bigger-125"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                            @foreach (TipoDeDocumento iTipo in iCategorias.Tipos)
                            {
                                <ol class="dd-list">
                                    <li class="dd-item">
                                        <div class="dd2-content" style="border-left-color: #3983c2;">
                                            @iTipo.Nome
                                            <div class="pull-right action-buttons">
                                                <a class="blue" href="#" onclick="AlterarTipo('@iTipo.UniqueKey', '@iTipo.Nome')">
                                                    <i class="ace-icon fa fa-edit bigger-125"></i>
                                                </a>
                                                <a class="blue" href="#" onclick="DeletarTipo('@iTipo.ID', '@iTipo.Nome')">
                                                    <i class="ace-icon fa fa-trash red bigger-125"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            }

                        </li>
                    }
                </ol>
            </div>
        }
        else
        {
            <div class="alert alert-warning">
                <strong>
                    <i class="ace-icon fa fa-meh-o"></i>
                    Oops!
                </strong>

                No momento, não existe Categorias cadastradas no sistema.
                <br>
            </div>
        }
    </div>
</div>

<div id="modalTipoDeDocumento" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button id="modalTipoDeDocumentoX" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="smaller lighter grey no-margin"><i class="ace-icon fa fa-legal green"></i> Cadastro de Tipo de Documento...</h3>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-12">
                        <div id="modalTipoDeDocumentoCorpoLoading">
                            <h4 class="smaller lighter blue no-margin"> Aguarde, processando... <i style="display: none; float: right; margin-top: 5px;" class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i></h4>
                        </div>
                        <br />
                        <div id="modalTipoDeDocumentoCorpo" />
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-xs-12">
                        <span id="modalTipoDeDocumentoLoading" style="display: none; float: left; padding-top: 6px">
                            <i style="display: none; float: left; margin-top: 5px;" class="ace-icon fa fa-spinner fa-spin blue bigger-125"></i>
                        </span>

                        <button id="modalTipoDeDocumentoFechar" class="btn btn-sm btn-default pull-right" data-dismiss="modal">
                            <i class="ace-icon fa fa-times"></i>
                            Cancelar
                        </button>

                        <button id="modalTipoDeDocumentoProsseguir" class="btn btn-sm btn-info" style="right: 5px; left: auto">
                            <i class="ace-icon fa fa-check"></i>
                            Salvar
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/Ace/dataTables/jquery.dataTables.js"></script>
    <script src="~/Scripts/Ace/dataTables/jquery.dataTables.bootstrap.js"></script>

    <script src="~/Scripts/Ace/dataTables/dataTables.tableTools.js"></script>
    <script src="~/Scripts/Ace/dataTables/dataTables.colVis.js"></script>

    <script src="~/Scripts/Custom/CategoriaDeDocumento/Listagem.js"></script>
    <script src="~/Scripts/Ace/jQ/jquery.nestable.js"></script>
}

